<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rgtask.mapper.CommentsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.rgtask.pojo.Comments">
        <id column="id" property="id" />
        <result column="area_id" property="areaId" />
        <result column="user_id" property="userId" />
        <result column="content" property="content" />
        <result column="parent_id" property="parentId" />
        <result column="thumbs_up" property="thumbsUp" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, area_id, user_id, content, parent_id, thumbs_up, create_time, update_time, del_flag, remark
    </sql>

</mapper>
